rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
      
      function hasBasicSubs() {
      	return request.auth.token.stripeRole == "basic";
      }
      function hasPremiumSubs() {
      	return request.auth.token.stripeRole == "premium"
      }
      match /content-basic/{doc} {
      	allow read: if hasBasicSubs() || hasPremiumSubs()
      }
      match /content-premium/{doc} {
      	allow read: if hasPremiumSubs();
      }
      
    }
    
    match /users/{id} {
        allow read: if request.auth.uid == id;
        allow write: if request.auth.uid == id;
    }
    
     match /reports/{id} {
        allow read, write: if true;
     }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
  }
}